*{padding: 0;margin: 0;}

body
{
	background-color: #C56836;
}



.maindiv10
{
	overflow: hidden;
	display: block;
	width: 960px;height: 173px;margin-top: 0px;
}

.header
{
	overflow: hidden;
    width: 100%;height: 140px;
    background-image: url("../images/header2.jpg");
    background-repeat: repeat;
    border-image: 20px;
    text-align: left;
  
}

.listdiv1
{
	height: 150px;
	width: 960px;
    padding: 0;
	margin: 0;
	position: absolute;
	
	
	
	}


.listdiv1 li 
{
			height: auto;
			width: 118px;   
			float: left;  
			text-align: center; 
			list-style: none; 
			font: normal bold 12px/1.2em Arial, Verdana, Helvetica;  
			padding: 0;
			margin: 0;
			background-color: #560410;
			border-right:2px solid #1E0606;
}


.listdiv1 a	
{							
		padding-bottom: 10px ; 
		padding-top: 10px;
		border-left: 1px solid #560410; 
		border-right: 1px solid #560410; 
		text-decoration: none; 
		color: #FFFFFF;
		display: block;
}



.listdiv1 ul li:hover{background-color: #CC6699;}

.listdiv1 li ul 	{
		display: none; 
		height: auto;									
		margin: 0; 
		padding: 0; 		
		}				
.listdiv1 li:hover ul {
        display: block; 
  }
.listdiv1 li ul li {background-color: #560410;} 
	
.listdiv1 li ul li a:hover{background-color: #366b82;
}









#clock
{
	padding-left: -200px;
}





.maindiv2
{
	width: 960px;
	height: auto;
}

.slider
{
	padding-top:10px;
	width:680px;
	height:auto;
	background-color:red;
	float: left;
	overflow: hidden;
}


.submenu
{
	width: 270px;
	margin-right: 10px;
	height: auto;
	float: left;
	background-color: green;
	overflow: hidden;

}


.submenu li 
{
			height: auto;
			
		  
			text-align: left; 
			list-style: none; 
			font: normal bold 12px/1.2em Arial, Verdana, Helvetica;  
			padding: 0;
			margin: 0;
			background-color: #560410;
			border-bottom:1px solid #FFFFFF;
			line-height: 20px;
			border-radius: 5px;
}


.submenu a	
{							
		padding: 10px ; 
		border-bottom: 1px solid #560410; 
		border-top: 1px solid #560410; 
		text-decoration: none; 
		color: #FFFFFF;
		display: block;
		overflow: hidden;
}



.submenu ul li:hover{background-color: #CC6699;}

.marqu
{
	width: 960px;
	height: 60px;
	background-color: white;
	overflow: hidden;
	
}


.map
{
	width: 680px;
	height: 450px;
	background-color: #CCCCCC;
	float: left;
	overflow: hidden;

}

.mission
{
	width: 670px;
	height: auto;
	text-align: left;
	color: white;
	float: right;
	overflow: hidden;
}



.footer
{
	margin-top: 10px;
	background-position: bottom;
	background-color: yellow;
	width: 960px;height: 30px;
	padding-top: 4px;
	float: left;
	color:blue;font-size:20px; font-family: Monotype Corsiva;

	
}